html {
  height: 100%;
  color: black;
  word-break: keep-all;
}
a {
  color: #FF516C;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  font-weight: bold;
  color: #FF516C;
}
h1,h2,h3,h4,h5,h6{
    margin:0;
    line-height:1.2;
    font-family:"Noto Sans KR",sans-serif;
    font-weight:normal
}
h1 {
  color: #FF516C;
  font-family: "Raleway", sans-serif;
  font-size:100px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  float: left;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin-bottom: 10px;
}
h2 {
  color: #67B8FF;
  margin-bottom: 30px;
}
h3 {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 80px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  opacity: 1;
}
h4 {
  color: white;
  font-family: "Lato";
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  opacity: 1;
  margin-bottom: 50px;
}
h5 {
  color: white;
  font-family: "Sunflower";
  font-size: 30px;
  font-weight: normal;
  text-align: center;
  margin-top: 10px;
}
h6 {
  color: #FF516C;
  font-family: "Sunflower";
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

p {
  color: black;
  font-family: "Noto Sans KR";
  display: inline;
  line-height: 1.5;
}
.first_skill {
  margin-bottom: 100px;
}
.mainlogo{
  height: 400px;
  float: left;
}
.catchphrase {
  position: absolute;
  margin-top: 12%;
  color: white;
  vertical-align: middle;
  text-align: right;
  font-size: 50px;
  list-style-position: inline;
}
@media screen and (max-width: 1259px){
  .menu {
    display: none;
  }
  .mainlogo {
    height: 300px;
  }
  .catchphrase {
    display: none;
  }
  .msg {
    display: none;
  }
  h3 {
    font-size: 2em;
  }
  .J {
    width: 19px;
  }
  h2 {
    font-size: 1.5em;
  }
  .skill {
    margin-bottom: 40px;
  }
  .first_skill {
    margin: 0px;
  }
  .page_container {
    top: 0;
  }
  .line_block {
    display: none;
  }
  h6 {
    font-size: 2em;
  }
  .showcase_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  .explanation {
    display: none;
  }
  .details {
    position: absolute;
    margin-right: 50%;
    bottom: 5%;
    display: block;
  }
  .btn {
    margin-top: 1%;
  }
  h4 {
    font-size: 2em;
  }
}

.myself {
  color: white;
  font-size: 1em;
}
.msg {
  position: absolute;
  left: 20%;
  margin-top: 47%;
  color: white;
  vertical-align: middle;
  text-align: right;
  font-size: 12px;
  font-weight: normal;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 2;
}
.keyword {
  list-style-position: inline;
}
.toplogo{
  height: 80px;
  float: left;
  margin-top: 0.2%;
  margin-left: 0.5%;
}
.J {
  display: inline;
  width: 38px;
}
#hook {
  width: 200px;
  opacity: 0.5;
  margin-top: 10%;
  margin-bottom: 3%;
}
.main {
  float: left;
  width: 100%;
  margin: 0 auto;
}
.main section  {
  overflow: hidden;
}
.main section > img {
  position: absolute;
  max-width: 100%;
  z-index: 1;
}
.main .page1 .page_container {
  position: relative;
  top: 20%;
  margin: 0 auto 0;
  max-width: 1300px;
  z-index: 3;
}
.main .page2 .page_container {
  position: relative;
  margin: 0 auto 0;
  max-width: 950px;
  z-index: 3;
  color: white;
}
.main .page3 .page_container {
  position: relative;
  top: 10%;
  margin: 0 auto 0;
  max-width: 950px;
  z-index: 3;
}
.main .page4 .page_container {
  position: relative;
  margin: 0 auto 0;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 5%;
  margin-right: 5%;
  max-width: auto;
  z-index: 3;
}
.main .page5 .page_container {
  position: relative;
  margin: 0 auto 0;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 5%;
  margin-right: 5%;
  max-width: auto;
  z-index: 3;
}
.main .page6 .page_container {
  position: relative;
  margin: 0 auto 0;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 5%;
  margin-right: 5%;
  max-width: auto;
  z-index: 3;
}
.main .page7 .page_container {
  position: relative;
  margin: 0 auto 0;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 5%;
  margin-right: 5%;
  max-width: auto;
  z-index: 3;
}
.main .page8 .page_container {
  position: relative;
  margin: 0 auto 0;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 5%;
  margin-right: 5%;
  max-width: auto;
  z-index: 3;
}
.main .page9 .page_container {
  position: relative;
  margin: 0 auto 0;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 5%;
  margin-right: 5%;
  max-width: auto;
  z-index: 3;
}
.page1 {
  background-color: #202020;
  background-opacity: .3;
}
.page2 {
  background-color: #202020;
}
.page3 {
  background-color: #202020;
}
.page4, .page5, .page6, .page7, .page8, .page9 {
  background-color: #F9F9F9;
}
.main section .page_container .btns {
  clear: both;
  float: left;
  text-align: center;
  width: 435px;
}
.main section .page_container .btns a{
  text-align: center;
}
.main section.page2 .page_container {
  overflow: hidden;
}
.main section.page3 .page_container {
  overflow: hidden;
  width: 500px;

}

.reload.bell {
  font-size: 12px;
  padding: 20px;
  width: 45px;
  text-align: center;
  height: 47px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}
.reload.bell #notification {
  font-size: 25px;
  line-height: 140%;
}
.reload, .btn{
  display: inline-block;
  border: 4px solid red;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  display: inline-block;
  line-height: 100%;
  padding: 0.7em;
  text-decoration: none;
  color: black;
  width: 100px;
  line-height: 140%;
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.btn {
  border-radius: 100px;
  width: 100px;
  color: #FF516C;
  border: 2px solid #FF516C;
  background-color: transparent;
  transform: translate(100%, 0%);
  transition: .6s;
  overflow: hidden;
}
.btn:focus {
  outline: none;
}
.btn:before {
  content: '';
  display: block;
  background: #FF516C;
  width: 100px;
  left: 0;
  opacity: .5;
  filter: blur(30px);
  transform: translateX(-130px) skewX(-15deg);
}

.btn:after {
  content: '';
  display: block;
  background: #FF516C;
  width: 50px;
  left: 30px;
  opacity: 0;
  filter: blur(30px);
  transform: translateX(-100px) skewX(-15deg);
}

.btn:hover {
  color: #F9F9F9;
  background: #FF516C;
  cursor: pointer;
}
.btn:hover:before {
  transform: translateX(300px) skewX(-15deg);
  opacity: .6;
  transition: .7s;
}
.btn:hover:after {
  transform: translateX(300px) skewX(-15deg);
  opacity: 1;
  transition: .7s;
}

.clear {
  width: auto;
}


.credit {
  text-align: center;
  color: black;
  padding: 10px;
  width: 410px;
  clear: both;
}
.credit a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}


.back {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  display: block;
  padding: 7px;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-weight: bold;
  font-size: 13px;
  color: black;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
.back:hover {
  color: black;
}


.wrapper {
  height: 100% !important;
  height: 100%;
  margin: 0 auto; 
  overflow: hidden;
}


header {
  position: relative;
  z-index: 10;
}


body {
  background: ;
  padding: 0;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  position: relative;
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}
body.disabled-onepage-scroll .onepage-wrapper  section {
  min-height: 100%;
  height: auto;
}
body.disabled-onepage-scroll .main section .page_container, body.disabled-onepage-scroll .main section.page3 .page_container  {
  padding: 20px;
  margin-top: 150px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body.disabled-onepage-scroll  section .page_container h1{
  text-align: center;
  font-size: 50px;
}
body.disabled-onepage-scroll section .page_container h2, body.disabled-onepage-scroll section .page_container .credit, body.disabled-onepage-scroll section .page_container .btns{
  text-align: center;
  width: 100%;
}

body.disabled-onepage-scroll .main section.page1 > img {
  position: absolute;
  width: 80%;
  left: 10%;
}

body.disabled-onepage-scroll .main section > img {
  position: relative;
  max-width: 80%;
  bottom: 0;
}
body.disabled-onepage-scroll code {
  width: 95%;
  margin: 0 auto 25px;
  float: none;
  overflow: hidden;
}
body.disabled-onepage-scroll .main section.page3 .page_container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  right: 0;
}


.line_block::after {
  background:white;
  display:block;
  width:30em;
  height:1px;
  position:absolute;
  bottom: 4%;
  left: 50%;
  margin-right: 50%;
  transform: translate(-50%, -50%);
  content:"";
}
.skill {
  margin-top: 80px;
}

.skill-list {
  list-style-type: none;
  text-align: left;
  font-size: 20px;
  font-family: "Raleway"
}

li {
  margin: 10px 0;
}

.showcase {
  position: absolute;
  left: 10%;
}
.showcase_image {
  max-width: 600px;
  max-height: 600px;
}



.explanation {
  position: absolute;
  margin-top: 5%;
  left: 50%;
}

.job {
  font-family: "Open Sans", sans-serif;
}
.job-list {
  margin-left: -2em;
  list-style-type: none;
  text-align: left;
  font-size: 20px;
  font-family: "Open Sans", sans-serif
}


.solution {
  margin-left: 2em;
  font-family: "Roboto", sans-serif;
}
.description {
  max-width: 600px;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

.leftSide {
  background-color: #202020;
  display: table-cell;
  float: left;
  padding: 100px 5vw;
  min-height: 100vh;
  min-width: 50vw;
  position: relative;
  box-sizing: border-box;
  border-spacing: 0;
  line-height: 2;
  font-family: "Mirza", sans-serif;
  font-size: 20px;
  text-align: left;
}
.rightSide {
  background-color: #101010;
  display: table-cell;
  float: left;
  padding: 100px 5vw;
  min-height: 100vh;
  min-width: 50vw;
  position: relative;
  box-sizing: border-box;
  border-spacing: 0;
  line-height: 2;
  font-family: "Mirza", sans-serif;
  font-size: 20px;
  text-align: left;
}

.credit a, .source {
  color: white;
  font-family: "Open Sans", sans-serif;
}
.credit a:hover {
  color: #67B8FF;
}
.iconed-text {
  font-family: "Open Sans", sans-serif;
  color: white;
}
.iconed-text a {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}
.iconed-text a:hover {
  text-decoration: none;
  color: #67B8FF;
}
.update-date {
  position: absolute;
  bottom: 1%;
  right: 2%;
  text-align: right;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}
.copyright {
  position: absolute;
  bottom: 1%;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

.menu {
  background-color: #181818;
  height: 90px;
}
.list-inline {
  text-decoration: none;
  float: right;
  text-align: center;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  color: white;
  z-index: 100;
  list-style-type: none;
  display: inline;
  margin-right: 1%;
}

.list-inline-item {
  margin-top: 14%;
}

.list-inline-item:hover {
  /* add fade in effect */
  opacity: 1;
}
.buttons {
  color: white;
  opacity: .8;
  margin-top: 14%;
}
.buttons:hover {
  color: white;
  text-decoration: none;
  opacity: 1;
}

.flaticon-envelope, .flaticon-comment-black-oval-bubble-shape, .flaticon-github-logo, .flaticon-linkedin-sign, .flaticon-telephone-handle-silhouette {
  color: #F0F0F0;
}